// .result {
// }
// .container {
// }
.preview {
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color:$black;
    margin-left: 30px;
  }

  &__img {
    margin: 20px 0px 70px;
    border: 1px solid red;
  }
}
